.simple_form {
  .alert {
    margin-bottom: 0px;
    padding: 5px;
  }

  .error {
    .control-label {
      color: #ff0039;
    }
    .form-control {
      border: 1px solid #ff0039;
    }
    .help-inline {
      color: #ff0039;
    }
  }
}